################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo

# Rider
.idea/

# Build outputs
Debug/
Release/

# Logs
*.log
